version: '3.8'

services:
  postgres:
    image: postgres:17
    container_name: sididoc_db
    ports:
      - "${DB_PORT}:5432"
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    volumes:
      - pg_data:/var/lib/postgresql/data
    restart: always

volumes:
    pg_data: