spring:
  application:
    name: sididoc
  profiles:
    active: homolog

  config:
    import: optional:file:.env[.properties]

  servlet:
    multipart:
      max-file-size: 1000MB
      max-request-size: 1000MB

  mail:
    host: ${MAIL_HOST}
    port: ${MAIL_PORT}
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  security:
    jwt:
      secret: ${SECURITY_JWT_SECRET}
      expiration-millis: ${JWT_EXPIRATION:3600000}

aws:
  accessKeyId: ${AWS_ACCESS_KEY_ID}
  secretKey: ${AWS_SECRET_KEY}
  region: ${AWS_REGION}

supabase:
  bucket:
    name: ${SUPABASE_BUCKET_NAME}
  project:
    url: ${SUPABASE_PROJECT_URL}

app:
  frontend-url: ${FRONTEND_URL:http://localhost:3000}